<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
    <bean id="GreenTreeManager" class="com.greentree.model.business.manager.GreenTreeManager">
        <property name="tokenService" ref="tokenService" />			
    </bean>
    
    <bean id="tokenService" class="com.greentree.model.services.tokenservice.HibernateTokenServiceImpl" />
</beans>